.jumbotron {
  background-color: #FFF;
  padding-top: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  height: 100%;

  .summernote {
    margin-top: 10px;
  }

  .note-editor {
    margin-bottom: 0;
  }
}